body {
  align-items: center;
  color: #808080;
  background: #101010;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.switch {
  align-items: center;
  display: flex;
  font-family: monospace;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
  width: 28rem;
  &:before {
    content: '';
    background: #282828;
    border: #e0e0e0 0.25rem solid;
    border-radius: 45px;
    height: 4.5rem;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  &__label {
    cursor: pointer;
    font-size: 2rem;
    padding: 2rem;
    transition: color 200ms ease-out;
    width: 4rem;
    &:hover {
      color: #e0e0e0;
    }
  }
  &__indicator {
    height: 8rem;
    left: 0;
    position: absolute;
    transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97);
    width: 8rem;
  }

  input#_0:checked ~ .switch__indicator {
    background: url(../assets/auto.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate3d(3rem, 0, 0);
  }
  input#_1:checked ~ .switch__indicator {
    background: url(../assets/dark.svg);
    background-size: contain;
    transform: translate3d(12rem, 0, 0);
  }
  input#_2:checked ~ .switch__indicator {
    background: url(../assets/light.svg);
    background-size: contain;
    transform: translate3d(21rem, 0, 0);
  }
  input[type='radio'] {
    &:not(:checked),
    &:checked {
      display: none;
    }
  }
}
